<%= link_to "Home", root_path%>
<%= link_to "Test", test_path%>
<a href="/">Home</a>
<a href="/contact">Contact</a>
<h1>Pages#home</h1>
<p>Some new changes to show github that yeah things do change. </p>
